{% block vape_cms_el_preview_brand_slider %}
<div class="vape-cms-el-preview-brand-slider">
    <span class="vape-cms-el-preview-brand-slider__headline"></span>
    <div class="vape-cms-el-preview-brand-slider__logos">
        <span class="vape-cms-el-preview-brand-slider__logo"></span>
        <span class="vape-cms-el-preview-brand-slider__logo"></span>
        <span class="vape-cms-el-preview-brand-slider__logo"></span>
        <span class="vape-cms-el-preview-brand-slider__logo"></span>
    </div>
</div>
{% endblock %}
