{% block vape_cms_preview_hero_block %}
<div class="vape-cms-preview-hero-block">
    <div class="vape-cms-preview-hero-block__glow"></div>
    <div class="vape-cms-preview-hero-block__lines">
        <span class="vape-cms-preview-hero-block__headline"></span>
        <span class="vape-cms-preview-hero-block__subline"></span>
        <span class="vape-cms-preview-hero-block__cta"></span>
    </div>
</div>
{% endblock %}
