{% block vape_cms_block_promo_banner %}
<div class="vape-cms-block-promo-banner">
    <slot name="promoBanner">
        {% block vape_cms_block_promo_banner_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
