{% block vape_cms_el_preview_category_carousel %}
<div class="vape-cms-el-preview-category-carousel">
    <span class="vape-cms-el-preview-category-carousel__headline"></span>
    <div class="vape-cms-el-preview-category-carousel__cards">
        <span class="vape-cms-el-preview-category-carousel__card"></span>
        <span class="vape-cms-el-preview-category-carousel__card"></span>
        <span class="vape-cms-el-preview-category-carousel__card"></span>
    </div>
</div>
{% endblock %}
