{% block vape_cms_element_preview_promo_banner %}
<div class="vape-cms-el-preview-promo-banner">
    <span class="vape-cms-el-preview-promo-banner__eyebrow"></span>
    <span class="vape-cms-el-preview-promo-banner__headline"></span>
    <span class="vape-cms-el-preview-promo-banner__text"></span>
    <span class="vape-cms-el-preview-promo-banner__cta"></span>
</div>
{% endblock %}
