{% block vape_cms_preview_usp_strip_block %}
<div class="vape-cms-preview-usp-strip-block">
    <div class="vape-cms-preview-usp-strip-block__item">
        <span class="vape-cms-preview-usp-strip-block__icon"></span>
        <span class="vape-cms-preview-usp-strip-block__lines">
            <span class="vape-cms-preview-usp-strip-block__line"></span>
            <span class="vape-cms-preview-usp-strip-block__line vape-cms-preview-usp-strip-block__line--sub"></span>
        </span>
    </div>
    <div class="vape-cms-preview-usp-strip-block__item">
        <span class="vape-cms-preview-usp-strip-block__icon"></span>
        <span class="vape-cms-preview-usp-strip-block__lines">
            <span class="vape-cms-preview-usp-strip-block__line"></span>
            <span class="vape-cms-preview-usp-strip-block__line vape-cms-preview-usp-strip-block__line--sub"></span>
        </span>
    </div>
    <div class="vape-cms-preview-usp-strip-block__item">
        <span class="vape-cms-preview-usp-strip-block__icon"></span>
        <span class="vape-cms-preview-usp-strip-block__lines">
            <span class="vape-cms-preview-usp-strip-block__line"></span>
            <span class="vape-cms-preview-usp-strip-block__line vape-cms-preview-usp-strip-block__line--sub"></span>
        </span>
    </div>
</div>
{% endblock %}
