{% block vape_cms_preview_product_rail_block %}
<div class="vape-cms-preview-product-rail-block">
    <div class="vape-cms-preview-product-rail-block__head">
        <span class="vape-cms-preview-product-rail-block__headline"></span>
        <span class="vape-cms-preview-product-rail-block__arrows">
            <span class="vape-cms-preview-product-rail-block__arrow"></span>
            <span class="vape-cms-preview-product-rail-block__arrow"></span>
        </span>
    </div>
    <div class="vape-cms-preview-product-rail-block__cards">
        <span class="vape-cms-preview-product-rail-block__card"></span>
        <span class="vape-cms-preview-product-rail-block__card"></span>
        <span class="vape-cms-preview-product-rail-block__card"></span>
        <span class="vape-cms-preview-product-rail-block__card"></span>
    </div>
</div>
{% endblock %}
