{% block vape_cms_preview_category_carousel_block %}
<div class="vape-cms-preview-category-carousel-block">
    <span class="vape-cms-preview-category-carousel-block__headline"></span>
    <div class="vape-cms-preview-category-carousel-block__cards">
        <span class="vape-cms-preview-category-carousel-block__card"></span>
        <span class="vape-cms-preview-category-carousel-block__card"></span>
        <span class="vape-cms-preview-category-carousel-block__card"></span>
    </div>
</div>
{% endblock %}
