{% block vape_cms_preview_featured_split_block %}
<div class="vape-cms-preview-featured-split-block">
    <div class="vape-cms-preview-featured-split-block__left">
        <span class="vape-cms-preview-featured-split-block__eyebrow"></span>
        <span class="vape-cms-preview-featured-split-block__headline"></span>
        <span class="vape-cms-preview-featured-split-block__line vape-cms-preview-featured-split-block__line--active"></span>
        <span class="vape-cms-preview-featured-split-block__line"></span>
        <span class="vape-cms-preview-featured-split-block__cta"></span>
    </div>
    <div class="vape-cms-preview-featured-split-block__right">
        <span class="vape-cms-preview-featured-split-block__card"></span>
        <span class="vape-cms-preview-featured-split-block__card"></span>
    </div>
</div>
{% endblock %}
