{% block vape_cms_preview_brand_slider_block %}
<div class="vape-cms-preview-brand-slider-block">
    <span class="vape-cms-preview-brand-slider-block__headline"></span>
    <div class="vape-cms-preview-brand-slider-block__logos">
        <span class="vape-cms-preview-brand-slider-block__logo"></span>
        <span class="vape-cms-preview-brand-slider-block__logo"></span>
        <span class="vape-cms-preview-brand-slider-block__logo"></span>
        <span class="vape-cms-preview-brand-slider-block__logo"></span>
    </div>
</div>
{% endblock %}
