{% block vape_cms_el_preview_usp_strip %}
<div class="vape-cms-el-preview-usp-strip">
    <div class="vape-cms-el-preview-usp-strip__item">
        <span class="vape-cms-el-preview-usp-strip__icon"></span>
        <span class="vape-cms-el-preview-usp-strip__lines">
            <span class="vape-cms-el-preview-usp-strip__line"></span>
            <span class="vape-cms-el-preview-usp-strip__line vape-cms-el-preview-usp-strip__line--sub"></span>
        </span>
    </div>
    <div class="vape-cms-el-preview-usp-strip__item">
        <span class="vape-cms-el-preview-usp-strip__icon"></span>
        <span class="vape-cms-el-preview-usp-strip__lines">
            <span class="vape-cms-el-preview-usp-strip__line"></span>
            <span class="vape-cms-el-preview-usp-strip__line vape-cms-el-preview-usp-strip__line--sub"></span>
        </span>
    </div>
    <div class="vape-cms-el-preview-usp-strip__item">
        <span class="vape-cms-el-preview-usp-strip__icon"></span>
        <span class="vape-cms-el-preview-usp-strip__lines">
            <span class="vape-cms-el-preview-usp-strip__line"></span>
            <span class="vape-cms-el-preview-usp-strip__line vape-cms-el-preview-usp-strip__line--sub"></span>
        </span>
    </div>
</div>
{% endblock %}
