{% block vape_cms_preview_category_grid_block %}
<div class="vape-cms-preview-category-grid-block">
    <div class="vape-cms-preview-category-grid-block__head">
        <span class="vape-cms-preview-category-grid-block__headline"></span>
        <span class="vape-cms-preview-category-grid-block__arrows"></span>
    </div>
    <div class="vape-cms-preview-category-grid-block__cards">
        <span class="vape-cms-preview-category-grid-block__card">
            <span class="vape-cms-preview-category-grid-block__hero"></span>
            <span class="vape-cms-preview-category-grid-block__tiles"><i></i><i></i><i></i></span>
        </span>
        <span class="vape-cms-preview-category-grid-block__card">
            <span class="vape-cms-preview-category-grid-block__hero"></span>
            <span class="vape-cms-preview-category-grid-block__tiles"><i></i><i></i><i></i></span>
        </span>
    </div>
</div>
{% endblock %}
