{% block vape_cms_block_featured_split %}
<div class="vape-cms-block-featured-split">
    <slot name="featuredSplit">
        {% block vape_cms_block_featured_split_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
