{% block vape_cms_block_brand_slider %}
<div class="vape-cms-block-brand-slider">
    <slot name="brands">
        {% block vape_cms_block_brand_slider_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
