{% block vape_cms_el_preview_product_rail %}
<div class="vape-cms-el-preview-product-rail">
    <div class="vape-cms-el-preview-product-rail__head">
        <span class="vape-cms-el-preview-product-rail__headline"></span>
        <span class="vape-cms-el-preview-product-rail__arrows">
            <span class="vape-cms-el-preview-product-rail__arrow"></span>
            <span class="vape-cms-el-preview-product-rail__arrow"></span>
        </span>
    </div>
    <div class="vape-cms-el-preview-product-rail__cards">
        <span class="vape-cms-el-preview-product-rail__card"></span>
        <span class="vape-cms-el-preview-product-rail__card"></span>
        <span class="vape-cms-el-preview-product-rail__card"></span>
        <span class="vape-cms-el-preview-product-rail__card"></span>
    </div>
</div>
{% endblock %}
