{% block vape_cms_el_preview_hero %}
<div class="vape-cms-el-preview-hero">
    <div class="vape-cms-el-preview-hero__overlay"></div>
    <div class="vape-cms-el-preview-hero__content">
        <span class="vape-cms-el-preview-hero__headline"></span>
        <span class="vape-cms-el-preview-hero__subline"></span>
        <span class="vape-cms-el-preview-hero__cta"></span>
    </div>
</div>
{% endblock %}
