{% block vape_cms_preview_promo_banner_block %}
<div class="vape-cms-preview-promo-banner-block">
    <div class="vape-cms-preview-promo-banner-block__lines">
        <span class="vape-cms-preview-promo-banner-block__eyebrow"></span>
        <span class="vape-cms-preview-promo-banner-block__headline"></span>
        <span class="vape-cms-preview-promo-banner-block__cta"></span>
    </div>
</div>
{% endblock %}
