{% block vape_cms_block_category_grid %}
<div class="vape-cms-block-category-grid">
    <slot name="grid">
        {% block vape_cms_block_category_grid_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
