{% block vape_cms_el_preview_featured_split %}
<div class="vape-cms-el-preview-featured-split">
    <div class="vape-cms-el-preview-featured-split__left">
        <span class="vape-cms-el-preview-featured-split__eyebrow"></span>
        <span class="vape-cms-el-preview-featured-split__headline"></span>
        <span class="vape-cms-el-preview-featured-split__line"></span>
        <span class="vape-cms-el-preview-featured-split__line vape-cms-el-preview-featured-split__line--active"></span>
        <span class="vape-cms-el-preview-featured-split__line"></span>
        <span class="vape-cms-el-preview-featured-split__cta"></span>
    </div>
    <div class="vape-cms-el-preview-featured-split__right">
        <span class="vape-cms-el-preview-featured-split__card">
            <span class="vape-cms-el-preview-featured-split__mini"></span>
        </span>
        <span class="vape-cms-el-preview-featured-split__card">
            <span class="vape-cms-el-preview-featured-split__mini"></span>
        </span>
    </div>
</div>
{% endblock %}
