{% block vape_cms_block_category_carousel %}
<div class="vape-cms-block-category-carousel">
    <slot name="carousel">
        {% block vape_cms_block_category_carousel_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
