{% block vape_cms_block_product_rail %}
<div class="vape-cms-block-product-rail">
    <slot name="rail">
        {% block vape_cms_block_product_rail_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
