{% block vape_cms_el_preview_category_grid %}
<div class="vape-cms-el-preview-category-grid">
    <div class="vape-cms-el-preview-category-grid__head">
        <span class="vape-cms-el-preview-category-grid__headline"></span>
        <span class="vape-cms-el-preview-category-grid__arrows"></span>
    </div>
    <div class="vape-cms-el-preview-category-grid__cards">
        <span class="vape-cms-el-preview-category-grid__card">
            <span class="vape-cms-el-preview-category-grid__hero"></span>
            <span class="vape-cms-el-preview-category-grid__tiles">
                <i></i><i></i><i></i>
            </span>
        </span>
        <span class="vape-cms-el-preview-category-grid__card">
            <span class="vape-cms-el-preview-category-grid__hero"></span>
            <span class="vape-cms-el-preview-category-grid__tiles">
                <i></i><i></i><i></i>
            </span>
        </span>
    </div>
</div>
{% endblock %}
